@model RegisterViewModel
@{
    ViewData["Title"] = "Register Page";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post" asp-action="Register" class="container">
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="card card-custom border-0 border-radius-sm card-register p-4">
            <div class="d-flex justify-content-center align-items-center mb-lg-4 border-bottom border-3">
                <h1 class="mb-lg-4">Dooter</h1>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Username</label>
                <input type="text" asp-for="Username" class="form-control" placeholder="name" />
                <div class="col">
                    <span asp-validation-for="Username"
                          class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="••••••" />
                <div class="col">
                    <span asp-validation-for="Password"
                          class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Re-enter Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="••••••" />
            </div>

            <button type="submit" class="btn btn-custom btn-danger p-0 mt-4">Register</button>
            <a asp-action="Login" class="text-center no-acc-text link-danger mt-2">Already have an account? Login here</a>
        </div>
    </div>
</form>