@{
    ViewData["Title"] = "Profile";
}
<head><script src="https://kit.fontawesome.com/cf1f826e4b.js" crossorigin="anonymous"></script></head>

<div class="row row-cols-3 g-4">

<!-- Profile picture and description card -->
    
  <div class="col">
      <br>
      <div class="card">

              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="card-img-top"
             alt="user profile picture" />

          <div class="card-body">
              <div class="text-center">
                  <h4 class="card-title">You The User</h4>
                  <p>lonelyguy@alone.com</p>
              </div>
              <br>
              <p class="card-text">
                  Hello am sad this is my description.
              </p>
              <br><br><br>
          </div>
      </div>
  </div>


    <!--Reviewed locations cards -->
  <div class="col">
      <br>
      <h5>Your Reviews</h5>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">
                  <i class="fa-solid fa-user"></i>  You  <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"> 5.0</i>
                  <i class="fa-solid fa-trash-can" style="float:right"></i>
              </h5>
              <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
          </div>
      </div>

      <div class="card">
          <div class="card-body">
              <h5 class="card-title">
                  <i class="fa-solid fa-user"></i>  You  <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"> 5.0</i>
                  <i class="fa-solid fa-trash-can" style="float:right"></i>
              </h5>
              <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
          </div>
      </div>

      <div class="card">
          <div class="card-body">
              <h5 class="card-title">
                  <i class="fa-solid fa-user"></i>  You  <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"> 5.0</i>
                  <i class="fa-solid fa-trash-can" style="float:right"></i>
              </h5>
              <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
          </div>
      </div>

  </div>

  <!--Added locations cards -->
  <div class="col">
      <br>
      <h5>Spots you've added</h5>

      <div class="card">
          <div class="card-body">
              <h5 class="card-title">
                  Gothic Tree Between Cemetery
                  <i class="fa-solid fa-trash-can" style="float:right"></i>
              </h5>

              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"> 5.0</i>
          </div>
      </div>

      <div class="card">
          <div class="card-body">
              <h5 class="card-title">
                  Gothic Tree Between Cemetery
                  <i class="fa-solid fa-trash-can" style="float:right"></i>
              </h5>

              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"> 5.0</i>
          </div>
      </div>

      <div class="card">
          <div class="card-body">
              <h5 class="card-title">
                  Gothic Tree Between Cemetery
                  <i class="fa-solid fa-trash-can" style="float:right"></i>
              </h5>

              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"> 5.0</i>
          </div>
      </div>

      <div class="card">
          <div class="card-body">
              <h5 class="card-title">
                  Gothic Tree Between Cemetery
                  <i class="fa-solid fa-trash-can" style="float:right"></i>
              </h5>

              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"> 5.0</i>
          </div>
      </div>

      <div class="card">
          <div class="card-body">
              <h5 class="card-title">
                  Gothic Tree Between Cemetery
                  <i class="fa-solid fa-trash-can" style="float:right"></i>
              </h5>

              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"> 5.0</i>
          </div>
      </div>

  </div>




</div>